.name {
  display: flex;
  flex-direction: column;

  display: inline-block;
  width: 100px;
  height: 100px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 600;

  word-break: break-all;

  cursor: default;
}